/Semana01/Promedio/target/
/Semana02/PedidoApp/target/
/Semana02/PedidoAppV1/PedidoApp/target/
/Semana02/Demo01/target/
/Semana02/demo/target/
/Semana02/demo03/target/
/Semana03-01ABR/demo03/target/
/Semana03-01ABR/PagoApp/target/
/Semana04-08ABR/Semana04/target/
/Semana05-15ABR/VentaApp/target/
